<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  <welcome-file-list>
  	<welcome-file>CityManagement.jsp</welcome-file>
  </welcome-file-list>
  <!--  
  <listener>
  	<listener-class>miscellaneous.Miscellaneous</listener-class>
  </listener>
  -->
  <servlet>
  	<servlet-name>addcity</servlet-name>
  	<servlet-class>servlets.AddCity</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>addcity</servlet-name>
  	<url-pattern>/AddCity</url-pattern>
  </servlet-mapping>
  
</web-app>